body{
    background-image: linear-gradient(to top left, #2b2b5e, #696890);
}

*{
    font-family: 微軟正黑體;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1426px;
    margin: auto;
}

.wrap{
    background-image: linear-gradient(to top left, #2b2b5e, #696890);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.content{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 32%;
}

.content1{
    color: #eee;
    writing-mode: vertical-lr;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-weight: normal;
    width: 4%;
}

.box ,.box2{
    background: #eee;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;   
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.3);
}
.box1{
    background: #696890;
    color: #eee;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;   
    padding: 30px;
    box-shadow: none;
}

.box2{
    margin-top: 100px;
}

.box p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2; 
    margin-top: 12px; 
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

a:link{
    color: #696890;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;   
}

a:hover{
    color: rgb(240, 58, 94);
    background-color: transparent;
    text-decoration: underline;
}

@media(max-width: 768px){
    .wrap{
        display: block;
        margin: 0;
        padding: 5%;
    }
    .content{
        width: 100%;
    }
    
    .content1{
        writing-mode: horizontal-tb;
        font-size: 15px;
        border-bottom: 1px solid #eee;
        border-left: none;
        text-align: center;
    }

    .box ,.box2{
        font-size: 18px;
        margin-bottom: 50px;
    }

    .box1{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .box2{
        margin-top: 0px;
        margin-bottom: none;
    }

}
