*{
    font-family: 微軟正黑體;
    margin: 0;
    /* padding: 0; */
}
.html{
    height: 100%;
}

.wrap{
    background: #696890;
    display: flex;
    padding: 10%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content:center;

}

.content{
    margin-top: 5%;
    margin-bottom: 5%;
}

.content1{
    color: #eee;
    writing-mode: vertical-lr;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
}

.box{
    background: #eee;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;   
    padding: 30px;
    border-radius: 10px;
}

.box5{
    background: #eee;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 25px;   
    padding: 30px;
    border-radius: 10px;
}

.box p{
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;   
}

.box1{
    background: #696890;
    color: #eee;
    margin-top: 75px;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}


.box5 p{
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 2;
}