*{
    font-family: 微軟正黑體;
    margin: 0;
    padding: 0;

}

/* .html{
    height: 100%;
} */

.wrap{
    background: #696890;
    display: flex;
    padding: 10%;
    box-sizing: border-box;
    justify-content: center;

}

.content{
    margin-top: 5%;
    margin-bottom: 5%;
}

.content1{
    color: #eee;
    writing-mode: vertical-lr;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-weight: 800;
}

.box2 ,.box5{
    background: #eee;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;   
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.3);
}

.box5{
    margin-top: 100px;
}

.box1 p ,.box2 p ,.box5 p{
    font-size: 15px;
    font-weight: medium;
    letter-spacing: 1px;
    line-height: 2;   
}

.box1{
    background: #696890;
    color: #eee;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;   
    padding: 30px;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

@media(max-width: 450px){
    .wrap{
        display: block;
        padding: 5%;
    }
    .content1{
        writing-mode: horizontal-tb;
        font-size: 15px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
    .box1{
        margin-top: 15px;
    }

    .box2 ,.box5{
        font-size: 18px;
        margin-bottom: 50px;
    }

    .box5{
        margin-top: 0px;
    }

}
